<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            text-align: center;
            font-size: 30px;
        }
header{
    background-color: red;
    padding: 25px;
}
        nav {
            background-color: black;
            font-size: 40px;
            font-style: normal;
            display: flex;
            flex-direction: row;
            padding: 10px;
            justify-content: space-between;
        }

        main {
            display: flex;
            justify-content: center;
            font-size: 15px;
            height: 30%;
            padding-top: 20px;
            justify-items: center;
        }

        a {
            color: white;
            text-decoration: none;
            padding: 15px;
            width: 100%;
        }



        #center {
            margin: 0 auto;
            width: 90%;
        }


        img {
            width: 40%;
            height: 10%;
            border-radius: 10%;
        }

        article {
            display: flex;
            justify-content: space-around;
        }

        footer {
            text-align: center;

        }

        #icons {
            display: flex;
            justify-content: center;
        }

        .icons {
            width: 100%;
        }

        #background {
            background-image: url('https://wallpapercave.com/wp/wp3170170.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        #pokemoncard {
            border: solid;
            width: 50%;
            height: 100%;
            background-color: lightblue;
        }

        @media only screen and (max-width: 600px) {
            a {
                flex-direction: column;
                width: 100%;
                display: block;
            }
        }
    </style>
</head>

<body>

    <header>
        <h1>
            Pokemon
        </h1>
    </header>
    <nav>
        <span>
            <a href="..">
                Main
            </a>

            <a href="../search.html">
                Search
            </a>

        </span>

    </nav>
    <div id="background">
    <main>
        <div id="pokemoncard">
             Hi there!

                <br>

                This pokemon has the id: <%= id %>
                <br>
                This pokemon has the name: <%= name %>
                <br>

                <img src="<%= img_path %>" alt="">
                <br>
                This Pokemon hp is <%= hp %>.
                <progress id="file" value="<%= hp %>" max="255"> <%= hp %>% </progress>
                <br>
                This Pokemon type is is <%= type %>
                <br>
                It weighs <%= weight %> hectograms

            </h1>
        </div>
    </main>
    <footer>
        <!-- <h1>.</h1> -->
        <h5>
            Copyright © Joes Pokedex 2022
        </h5>

    </footer>
</div>


</body>

</html>