<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <div>
        <header>
            <h1>
                Pokemon
            </h1>
        </header>
        <nav>
            <span>
                <a href="index.html">
                    Main
                </a>

                <a href="search.html">
                    Search
                </a>

                <a href="">
                    Profile
                </a>
            </span>

        </nav>
   
        <h1> Hi there!

            <br>
    
            This poKemon has the id: <%= id %>
            <br>
            This poKemon has the name: <%= name %>
            <br>
    
            <img src="<%= img_path %>" alt="">
            <br>
            This Pokemon hp is <%= hp %>.
            <progress id="file" value="<%= hp %>" max="255"> <%= hp %>% </progress>
    
    
        </h1>
    </div>
        <footer>
            <!-- <h1>.</h1> -->
            <h5>
                Copyright © Joes Pokedex 2022
            </h5>
            <div id="icons">
                <i src="./images/5296499_fb_facebook_facebook logo_icon.png" alt=""
                    >
                <i src="./images/5296516_tweet_twitter_twitter logo_icon.png"
                    alt="" >
                <i src="./images/5296765_camera_instagram_instagram logo_icon.png"
                    alt="" >
            </div>
        </footer>
    
   
</body>

</html>